extends layout
block main
  .contact-page.other-page
    .container
      h1.title contact us
      ul.row
        li.col-md-4
          h3.sub-title Contact Details
          span.content-title Phone
          span.content (02) 9597 6788
          span.content-title Fax
          span.content (02) 9597 6273
          span.content-title Email
          span.content info@patragroup.com.au
        li.col-md-4
          h3.sub-title Address
          span.content-title WAREHOUSE
          span.content 4/450-464 W Botany St Rockdale NSW 2216
          span.content-title MAILING
          span.content P.O. Box 815 Rockdale NSW 2216
        li.col-md-4
          h3.sub-title DIRECT
          span.content-title Nectarios Kounavis
          span.content email@patragroup.com.au
          span.content-title George Kounavis
          span.content email@patragroup.com.au
