extends index
block main
  .home-page.page
    .slider
      #header.header
        .container
          a(href="").logo
            img(src="images/logo.png")
          .navbar
            .info
              span (02)9597 6788
              span info@patragroup.con.au
              span 4/450 West Botany Street, Rockdale NSW, 2216
            ul.menu
              li
                a(href="") about
              li
                a(href="") services
              li
                a(href="") portfolio
              li
                a(href="") contact
          a.enquire(href="")
            i.iconsp-35-enquire
            span enquire
      #header-mobile.header
        ul#menu.menu
          li
            a.scroll(href="") about
          li
            a.scroll(href="") services
            ul
              li: a.scroll(href="") stainless steel fabrication
              li: a.scroll(href="") refrigeration
              li: a.scroll(href="") shopfitting
              li: a.scroll(href="") catering equipment
              li: a.scroll(href="") design & consilation
          li
            a.scroll(href="") portfolio
          li
            a.scroll(href="") contact
          li
            a.scroll(href="")
              i.iconsp-35-enquire-mobile
              span enquire
        #main-menu
          a(href="").logo
            img(src="images/logo.png")
          .contact-mobile
            ul
              li: a(href=""): i.iconsp-35-email
              li: a(href=""): i.iconsp-35-location
              li: a(href=""): i.iconsp-35-phone-white
            a.phone-mobile(href=""): i.iconsp-35-phone-black
      ul.main-bxslider
        li
          img(src="images/slide-1.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
        li
          img(src="images/slide-2.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
        li
          img(src="images/slide-3.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
        li
          img(src="images/slide-4.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
    .services
      .container
        h1.title services
        ul.services-list
          li
            h4.sub-title
              span stainless steel fabrication
            a(href="")
              i.iconsp-steel
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title
              span refrigeration
            a(href="")
              i.iconsp-fridge
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title
              span shopfitting
            a(href="")
              i.iconsp-shopfitting
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title
              span catering equipment
            a(href="")
              i.iconsp-catering
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title
              span design & consilation
            a(href="")
              i.iconsp-design
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
    .why-choose
      .background-before
        img(src="images/before-why-choose.png" height="280")
      .container
        h1.title why choose patra group
        ul.row
          li.col-md-4
            h3.sub-title experience
            span Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          li.col-md-4
            h3.sub-title quality
            span Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          li.col-md-4
            h3.sub-title modern
            span Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        a(href="").read-more read more about us
      .background-after
        img(src="images/after-why-choose.png" height="143")
    .testimonials
      .container
        h1.title testimonials
        ul.testimonials-bxSlider
          li
            div
              a(href="").logo-image
                img(src="images/testimonials-logo-1.jpg")
              .content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                h4.company pasiri's
                span Eatwood
            div
              a(href="").logo-image
                img(src="images/testimonials-logo-1.jpg")
              .content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                h4.company pasiri's
                span Eatwood
          li
            div
              a(href="").logo-image(style="padding-top: 24px;")
                img(src="images/testimonials-logo-2.jpg")
              .content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                h4.company subway
                span Marrickville
            div
              a(href="").logo-image
                img(src="images/testimonials-logo-3.jpg")
              .content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                h4.company garlos pies
                span Eatwood
          li
            div
              a(href="").logo-image
                img(src="images/testimonials-logo-1.jpg")
              .content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                h4.company pasiri's
                span Eatwood
            div
              a(href="").logo-image
                img(src="images/testimonials-logo-3.jpg")
              .content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer-citation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                h4.company garlos pies
                span Eatwood
    .footer
      .container
        ul
          li
            i.iconsp-35-facebook
            a(href="") Privacy Policy
          li
            span Copyright © 2014 Patra Group Pty Ltd.
            span All rights reserved.
          li
            span Designed by Openseed




