extends index
block main
  .home-page.page
    .header
      .container
        a(href="").logo
          img(src="images/logo.png")
        .navbar
          .info
            span (02)9597 6788
            span info@patragroup.con.au
            span 4/450 West Botany Street, Rockdale NSW, 2216
          ul.menu
            li
              a(href="") about
            li
              a(href="") services
            li
              a(href="") portfolio
            li
              a(href="") contact
        a.enquire(href="")
          i.iconsp-35-enquire
          span enquire
    .slider
      ul.main-bxslider
        li
          img(src="images/slide-1.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
        li
          img(src="images/slide-2.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
        li
          img(src="images/slide-3.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
        li
          img(src="images/slide-4.jpg" height="730")
          .title
            h3 able to evolve with new design concepts and modern trends.
            span Giving the client the opportunity to capture customers with ease.
    .services
      .container
        h1.title services
        ul.services-list
          li
            h4.sub-title stainless steel fabrication
            a(href="")
              i.iconsp-steel
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title refrigeration
            a(href="")
              i.iconsp-fridge
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title shopfitting
            a(href="")
              i.iconsp-shopfitting
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title catering equipment
            a(href="")
              i.iconsp-catering
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
          li
            h4.sub-title design & consilation
            a(href="")
              i.iconsp-design
            ul.name-list
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
              li
                span.dot .
                span Service Name
    .why-choose
      .background
        img(src="images/before-why-choose.png" height="141")
      .container
        h1.title why choose patra group
        ul.row
          li.col-md-4
            h3.sub-title experience
            span Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          li.col-md-4
            h3.sub-title quality
            span Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          li.col-md-4
            h3.sub-title modern
            span Benefit 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        a(href="").read-more read more about us



