extends layout
block main
  .portfolio-page.other-page
    .container
      h1.title portfolio
      ul.portfolio-slider
        li
          img.attachment-post-thumbnail.wp-post-image(width='162', height='162', src='http://portfolio.actiontwo.com/patra/wp-content/uploads/sites/5/2015/02/testimonials-logo-2.jpg', alt='testimonials-logo-2')
        li
          img.attachment-post-thumbnail.wp-post-image(width='132', height='93', src='http://portfolio.actiontwo.com/patra/wp-content/uploads/sites/5/2015/02/testimonials-logo-1.jpg', alt='testimonials-logo-1')
      .portfolio-content
        .portfolio-content-detail
          ul.portfolio-content-detail-slider
            li
              img(src='http://portfolio.actiontwo.com/patra/wp-content/uploads/sites/5/2015/02/stainless-steel-subservice1-272x300.png')
          .portfolio-content-desc
            .title-content-desc
              | Subway
            h4 September 2014
            h3 Scope
            ul
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            h3 Solutions
            ul
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .portfolio-content-detail
          ul.portfolio-content-detail-slider
            li
              img(src='http://portfolio.actiontwo.com/patra/wp-content/uploads/sites/5/2015/02/stainless-steel-fabrication-landing-272x300.jpg')
            li
              img(src='http://portfolio.actiontwo.com/patra/wp-content/uploads/sites/5/2015/02/stainless-steel-subservice1-272x300.png')
          .portfolio-content-desc
            .title-content-desc
              | Parisi’s
            h4 September 2014
            h3 Scope
            ul
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            h3 Solutions
            ul
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.

