.slicknav_menu {
  display: none;
}

.slicknav_nav{
  margin-top: 15px;
  font-family: $proxima_nova_extrabold;
  font-size: 17px;
  text-transform: uppercase;
  li {
    padding: 0 38px;
    background-color: #232426;
  }
}

.page {
  #header-mobile {
    display: none;
  }
  .header {
    background-color: $white;
    color: $black;
    .logo {
      background-image: url("img/bg-blue.png");
      padding: 20px 14px 14px 14px;
      width: 188px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 0px;
        border-right: 95px solid transparent;
        border-left: 95px solid transparent;
        border-top: 12px solid $blue;
        left: 0;
        bottom: -12px;
        z-index: 9;
      }
    }
    .menu {
      margin-top: 15px;
      font-family: $proxima_nova_extrabold;
      font-size: 17px;
      text-transform: uppercase;
      li {
        display: inline-block;
        padding: 0 38px;
      }
    }
    .navbar {
      display: inline-block;
      width: 70%;
      vertical-align: middle;
      margin-top: 2px;
      .info {
        font-family: $roboto_condensed_light;
        font-size: 15px;
        span {
          padding: 0 31px;
        }
      }
    }
    .enquire {
      color: $blue;
      vertical-align: top;
      display: inline-block;
      text-align: center;
      margin-top: 5px;
      span {
        display: block;
        text-transform: uppercase;
        font-family: $proxima_nova_extrabold;
      }
    }
  }
  .footer {
    background-color: black;
    i {
      background-color: $white;
      vertical-align: middle;
      margin-right: 40px;
    }
    ul {
      position: relative;
      font-family: $roboto_condensed_bold;
      font-size: 16.26px;
      li {
        text-align: center;
        padding: 24px 0 36px 0;
        vertical-align: top;
        &:nth-child(1) {
          position: absolute;
          left: 0;
          top:-9px;
        }
        &:nth-child(3) {
          position: absolute;
          right: 0;
          top:0;
        }
        &:nth-child(2) {
          span:last-child {
            margin-left: 6px;
          }
        }
      }
    }
  }
  h1.title {
    text-transform: uppercase;
    font-family: $proxima_nova_extrabold;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 0 4px rgba(0,0,0,0.4);
  }
}