.slicknav_menu {
  display: none;
}

.slicknav_nav{
  margin-top: 15px;
  font-family: $proxima_nova_extrabold;
  font-size: 17px;
  text-transform: uppercase;
  li {
    padding: 0 38px;
    background-color: #232426;
  }
}

.page {
  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 16px;
    height: 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
  #header-mobile {
    display: none;
  }
  .header {
    background-color: $white;
    color: $black;
    .logo {
      background-image: url("img/bg-blue.png");
      padding: 20px 14px 14px 14px;
      width: 188px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      .logo-traingle {
        position: absolute;
        background-image: url("../images/traingle.png");
        background-repeat: no-repeat;
        height: 12px;
        width: 100%;
        bottom: -12px;
        z-index: 9;
        background-size: 100%;
        left: 0;
      }
    }
    .menu {
      margin-top: 15px;
      font-family: $proxima_nova_extrabold;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: -2px;
      li {
        display: inline-block;
        padding: 0 38px 20px 38px;
        position: relative;
        cursor: pointer;
        a:hover {
          color: #1ca5d7;
        }
      }
      .sub-menu {
        display: none;
        position: absolute;
        width: 234px;
        font-family: $roboto_condensed_regular;
        font-size: 15.24px;
        z-index: 1000;
        left: -46px;
        top: 37px;
        background: $blue;
        color: $white;
        text-align: center;
        li {
          padding: 18px 0;
          display: block;
          &:hover {
            background: $white;
            -webkit-box-shadow: inset 0px 1px 3px 0px rgba(105,105,105,1);
            -moz-box-shadow: inset 0px 1px 3px 0px rgba(105,105,105,1);
            box-shadow: inset 0px 1px 3px 0px rgba(105,105,105,1);
          }
          &:hover a {
            color: $black;
          }
          &:nth-child(1) {
            padding-top: 34px;
          }
        }
      }
      .service-hover:hover   .sub-menu {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
    .navbar {
      display: inline-block;
      width: 70%;
      vertical-align: middle;
      padding-top: 16px;
      margin: 0;
      .info {
        font-family: $roboto_condensed_light;
        font-size: 15px;
        span {
          &:first-child{
            padding-left:38px ;
          }
          &:nth-child(2){
            padding-left:58px ;
          }
          &:last-child{
            padding-left:22px ;
          }
        }

      }
    }
    .enquire {
      display: inline-block;
      color: $blue;
      vertical-align: top;
      text-align: center;
      .btn-enquire {
        cursor: pointer;
        margin-top: 11px;
        span {
          display: block;
          text-transform: uppercase;
          font-family: $proxima_nova_extrabold;
        }
      }
      .box-enquire {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-image: url("img/bg-gray.png");
      }
    }
  }
  .footer {
    background-color: black;
    i {
      background-color: $white;
      vertical-align: middle;
      margin-right: 40px;
    }
    ul {
      position: relative;
      font-family: $roboto_condensed_bold;
      font-size: 16.26px;
      li {
        text-align: center;
        padding: 24px 0 36px 0;
        vertical-align: top;
        &:nth-child(1) {
          position: absolute;
          left: 0;
          top:-9px;
        }
        &:nth-child(3) {
          position: absolute;
          right: 0;
          top:0;
        }
        &:nth-child(2) {
          span:last-child {
            margin-left: 6px;
          }
        }
      }
    }
  }
  h1.title {
    text-transform: uppercase;
    font-family: $proxima_nova_extrabold;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 0 4px rgba(0,0,0,0.4);
    line-height: 64px;
  }
}