@media only screen and (max-width: 1217px) {
  body {
    width: 100%;
  }
  .wrapper-main-bxslider {
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 0px) {
  ul.services-list {
    width: 300px;
    margin: 0 auto;
  }
  .slicknav_menu {
    display: block;
    position: relative;
    z-index: 1;
    vertical-align: top;
    background-color: $white;
    padding: 5px 0;
    .slicknav_icon {
      margin: 0;
    }
    .slicknav_btn {
      background-color: $white;
      float: left;
      margin: 0;
      padding-left: 25px;
      .slicknav_menutxt {
        display: none;
      }
      .slicknav_icon-bar {
        background-color: $black;
        width: 26px;
        height: 4px;
        margin-bottom: 6px;
        border-radius: 0px;
      }
    }
    .slicknav_nav {
      li {
        padding: 15px 0px;
        background: #232426;
        border-bottom: 2px solid #191a1b;
        &:last-child {
          padding: 5px 0;
          i {
            vertical-align: middle;
            margin: 0 8px 0 -5px;
          }
        }
        &.slicknav_parent {
          padding-bottom: 0;
          ul {
            margin: 0;
            li {
              background: #191a1b;
              border-bottom: 1px solid #141515;
              a {
                padding: 0 0 0 50px;
                font-family: $proxima_nova_light;
              }
              &:last-child {
                padding: 15px 0;
                border-bottom: none;
              }
            }
          }
          .slicknav_item {
            padding-bottom: 18px;
            a {
              padding: 0;
            }
          }
        }
      }
      a {
        padding: 5px 25px;
        margin: 0;
        font-size: 15.33px;
        letter-spacing: 1px;
        &:hover {
          background: none;
          color: $white;
        }
        .slicknav_arrow {
          display: none;
        }
      }
    }
  }
  .container {
    width: 100%;
  }
  #header {
    display: none;
  }
  .page {
    #header-mobile {
      display: block;
      .menu {
        display: none;
      }
      #main-menu {
        height: 54px;
        .logo {
          width: 111px;
          float: none;
          padding: 11px 8px;
          top: -54px;
          z-index: 1;
          display: block;
          margin: 0 auto;
          &:after {
            border-right: 55px solid transparent;
            border-left: 55px solid transparent;
          }
        }
        .contact-mobile {
          position: absolute;
          top: 5px;
          right: 17px;
          z-index: 1;
          ul {
            display: none;
            li {
              display: inline-block;
              padding: 0 5px;
            }
          }
          .phone-mobile {
            padding-right: 5px;
          }
        }
      }
    }
    h1.title {
      font-size: 35.5px;
      line-height: 46px;
      word-spacing: -1px;
      letter-spacing: 0px;
    }
    .footer {
      padding: 60px 0;
      ul {
        font-size: 14.06px;
        li {
          position: static !important;
          width: 100%;
          margin: 0 auto;
          padding: 0;
          &:nth-child(1) {
            i {
              display: block;
              margin: 0 auto;
            }
            a {
              display: block;
              margin: 38px 0;
            }
          }
          &:nth-child(2) {
            margin-bottom: 38px;
            span {
              display: block;
              line-height: 22.37px;
            }
          }
        }
      }
    }
  }
  .home-page {
    .slider {
      .bx-pager {
        top: 85%;
        right: 0;
        text-align: center;
      }
      .bx-wrapper {
        min-height: 500px;
        .bx-pager.bx-default-pager a {
          width: 15px;
          height: 15px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }
        .bx-viewport {
          height: 500px !important;
        }
        .main-bxslider {
          li {
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 500px;
//            background-size: 800px;
            background-position-x: 65%;
            img {
              display: none;
            }
            .title {
              bottom: 0;
              top: 334px;
              padding: 30px 30px 70px 30px;
              width: 100%;
              text-align: center;
              background-color: rgba(0, 0, 0, 0.8);
              h3 {
                font-size: 17.89px;
                line-height: 23px;
                letter-spacing: 0px;
              }
              span {
                display: none;
              }
              &:after {
                display: none;
              }
            }
            &:first-child {
              background-image: url('../images/slide-4.jpg');
            }
            &:nth-child(2) {
              background-image: url('../images/slide-1.jpg');
            }
            &:nth-child(3) {
              background-image: url('../images/slide-2.jpg');
            }
            &:nth-child(4) {
              background-image: url('../images/slide-3.jpg');
            }
            &:nth-child(5) {
              background-image: url('../images/slide-4.jpg');
            }
            &:nth-child(6) {
              background-image: url('../images/slide-1.jpg');
            }
          }
        }
      }
    }
    .services {
      padding: 0 26px;
      .services-list {
        margin-top: 30px;
        li {
          background-color: $black;
          width: 100%;
          margin-bottom: 27px;
          background-image: none;
          h4.sub-title {
            width: 175px;
            background-image: url("img/bg-blue.png");
            display: table;
            font-size: 15.78px;
            height: 50px;
            vertical-align: middle;
            .traingle {
              height: 15px;
              bottom: -15px;
            }
          }
          p {
            display: inline-block;
            float: right;
            width: 31%;
            padding: 0;
            vertical-align: middle;
            margin-top: -64px;
            text-align: right;
            i {
              -moz-transform: scale(0.75);
              transform: scale(0.75);
            }
          }
          ul {
            display: none;
          }
        }
      }
    }
    .why-choose {
      margin-top: 100px;
      padding: 0 20px;
      .background-before {
        top: -76px;
        height: 76px;
      }
      .background-after {
        bottom: -45px;
        height: 45px;
      }
      h1.title {
        padding: 0;
        margin: 58px 0 58px 0;
      }
      ul {
        li {
          padding: 40px 38px;
          width: 100%;
          margin: 30px 0 0 0;
          span {
            line-height: 30.67px;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
      a.read-more {
        margin: 52px auto;
        padding: 14px 0px 22px 0;
        border-bottom: none;
      }
    }
    .testimonials {
      margin-bottom: 70px;
      h1.title {
        margin: 120px 0 58px 0;
      }
      ul {
        li {
          .logo-image {
            display: none;
          }
          .content {
            width: 100%;
            padding: 0px 26px 36px 26px;
            p {
              padding: 0;
              line-height: 25.59px;
              letter-spacing: -0.5px;
              font-size: 17.89px;
              &:before {
                top: -5px;
              }
              &:after {
                bottom: 0px;
              }
            }
          }
        }
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
        width: 16px;
        height: 16px;
        margin: 0 5px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
      }
      .bx-pager {
        bottom: -20px;
      }
    }
  }
}

@media  screen and (max-width: 400px) {
  ul.services-list {
    width: inherit;
  }
}

